@media (max-width: 1339px) {
    .new-contact-card {
        width: 396px;
        height: 760px;
    }

    .text-logo-area {
        width: 396px;
        height: 352px;
        border-radius: 30px 30px 0 0;
        align-items: flex-start;
    }

    .logo {
        display: none;
    }

    .slogan-area {
        width: 282px;
        height: 104px;
        margin: 66px 24px;
    }

    h1 {
        font-size: 47px;
        line-height: 56.4px;
    }

    h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .close-btn {
        top: 24px;
        left: 348px;
    }

    .close-btn:hover {
        background-color: #2A3647;
    }

    .close-btn:active {
        background-color: #29abe2;
    }

    .close-btn-dark {
        display: none;
    }

    .close-btn-light {
        display: block;
    }

    .profile-img {
        top: 292px;
        left: 138px;
        background-color: #D1D1D1;
    }

    .contact-input-field {
        top: 444px;
        left: 16px;
        width: 364px;
        height: 153px;
        gap: 15px;
    }

    .contact-input {
        width: 364px;
        height: 41px;
    }

    .input {
        width: 322px;
        height: 14px;
    }

    .buttons-area {
        height: 51px;
        width: 202px;
        top: 629px;
        left: 97px;
        display: block;
    }

    .cancel-btn {
        display: none !important;
    }

    .create-contact-btn {
        height: 51px;
        width: 202px;
        padding: 18px 10px;
    }

    .error-message {
        top: 86px;
        font-size: 10px;

    }
}

@media (max-width: 416px) {
    .new-contact-card {
        width: 280px;
        height: 570px;
    }

    .text-logo-area {
        width: 280px;
        height: 260px;
        border-radius: 30px 30px 0 0;
        align-items: flex-start;
    }

    .slogan-area {
        width: 252px;
        height: 80px;
        margin: 40px 24px;
    }

    h1 {
        font-size: 32px;
        line-height: 40px;
    }

    h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .close-btn {
        top: 16px;
        left: 235px;
    }

    .profile-img {
        top: 210px;
        left: 90px;
        height: 100px;
        width: 100px;
    }

    .contact-input-field {
        top: 320px;
        left: 10px;
        width: 270px;
        height: 120px;
        gap: 10px;
        align-items: flex-start;
    }

    .contact-input {
        width: 260px;
        height: 40px;
    }

    .input {
        width: 200px;
        height: 14px;
        padding: 13px;
    }

    .input-img {
        margin: 0;
    }

    .buttons-area {
        height: 50px;
        width: 180px;
        top: 500px;
        left: 50px;
    }

    .create-contact-btn {
        height: 50px;
        width: 180px;
        padding: 10px 8px;
    }

    .check {
        display: none;
    }
}
