body {
    margin: 0;
    font-family: Inter;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 27px;
    margin: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card-placement {
    width: 100vw;
    height: 100vh;
}

.new-contact-card {
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    position: relative;
}

.text-logo-area {
    width: 467px;
    height: 593px;
    border-radius: 30px 0 0 30px;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.logo {
    width: 55.6px;
    height: 66.48px;
}

.logo-div {
    width: 371px;
}

.slogan-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    height: 129px;
    gap: 12px;
}

.vector {
    width: 90px;
}

.close-btn {
    position: absolute;
    top: 48px;
    left: 1132px;
    border-radius: 56px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn-dark {
    display: block;
}

.close-btn-light {
    display: none;
}

.close-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 204px;
    left: 550px;
    border-radius: 70px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.1);
}

.white-profile {
    width: 64px;
    height: 64px;
}

.contact-input-field {
    width: 422px;
    height: 215px;
    position: absolute;
    top: 137px;
    left: 742px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
}

.contact-input {
    width: 422px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-input:focus-within {
    border-color: #9694f0;
}

.input {
    width: 356px;
    height: 24px;
    border: none;
    border-radius: 10px;
    outline: 0;
    padding: 13px 21px;
}

.font-fourhundrdred-twentyfour {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.input-img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.buttons-area {
    width: 364px;
    height: 57px;
    position: absolute;
    top: 400px;
    left: 742px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.cancel-btn {
    width: 126px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    color: #2A3647;
    background-color: white;
    padding: 16px;
    transition: 100ms ease-in-out;
}

.cancel-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-color: #29abe2;
    color: #29abe2;
}

.cross-icon {
    width: 24px;
    height: 24px;
}

.create-contact-btn {
    width: 241px;
    height: 57px;
    border-radius: 10px;
    padding: 16px;
    background-color: #2A3647;
    border: none;
    color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    transition: 100ms ease-in-out;
}

.check {
    width: 24px;
    height: 24px;
}

.check-img {
    width: 15.49px;
    height: 11.22px;
}

.create-contact-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #29abe2;
}

.error-message {
    color: red;
    font-size: 12px; 
    position: absolute; 
    top: 130px; 
    left: 0;
    margin-top: 12px; 
    display: none; 
    white-space: nowrap; 
}

