@media(max-width: 1300px) {
    .three-input-prio-container {
        width: 360px;
    }

    .three-input-container {
        width: 360px;
    }

    .btn-required-text {
        width: 1050px;
    }

    .vertical-vector {
        left: 521.25px;
    }

    .assigned-persons {
        left: 34px;
    }

    .dropdown-list {
        left: 34px;
    }

    .title-positioning {
        left: 38px;
    }
}

@media(max-width: 1250px) {
    .three-input-prio-container {
        width: 195px;
    }

    .three-input-container {
        width: 320px;
    }

    .btn-required-text {
        width: 1000px;
    }

    .vertical-vector {
        left: 470.25px;
    }

    .assigned-persons {
        left: 15px;
    }

    .dropdown-list {
        left: 15px;
    }

    .title-positioning {
        left: 15px;
    }
    
}

@media(max-width: 1170px) {
    .three-input-prio-container {
        width: 150px;
    }

    .three-input-container {
        width: 320px;
    }

    .btn-required-text {
        width: 1000px;
    }

    .vertical-vector {
        display: none
    }

    .btn-required-text {
        width: 973px;
    }
}

@media(max-width: 1150px) {
    .simple-input {
        width: 380px;
    }

    .textarea {
        width: 380px;
        max-width: 380px;
    }

    .foul-input {
        width: 411px;
    }

    .prio-btn-position {
        width: 410px;
    }
    .selection {
        width: 410px;
    }
    .select-wrapper::after {
        right: 46px;
    }
    .btn-required-text {
        width: 938px;
    }
    .dropdown-list {
        width: 409px;
    }
}

@media(max-width: 1110px) {
    .simple-input {
        width: 330px;
    }

    .textarea {
        width: 330px;
        max-width: 330px;
    }

    .foul-input {
        width: 361px;
    }

    .prio-btn-position {
        width: 362px;
    }
    .selection {
        width: 362px;
    }
    .select-wrapper::after {
        right: 94px;
    }
    .btn-required-text {
        width: 891px;
    }
    .dropdown-list {
        width: 359px;
    }
    .assigned-persons {
        width: 359px;
    }
    .subtask-display {
        width: 370px;
    }
}


@media(max-width:1050px) {
    .bodyContainer{
        overflow-y:scroll;
    }
    
    .add-task-main-position {
        position: absolute;
        width: 428px;
        height: 1250px;
        border-radius: 0;
        left: 232px;
        bottom: 0;
    }

    .add-task-card {
        width: 428px;
        height: 1125px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .title-positioning {
        width: 396px;
        
        height: 112px;
        position: initial;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }

    h1 {
        font-size: 47px;
        line-height: 56.4px;
    }

    .medium-font {
        font-size: 16px;
        line-height: 19.2px;
    }

    .three-input-container {
        position: initial;
        width: 396px;
        gap: 8px;
        margin-bottom: 170px;
    }

    .input-title-container {
        width: 396px;
        height: 83px;
    }

    .simple-input {
        width: 354px;
        height: 20px;
        padding: 10px 21px;
    }

    .description-container {
        width: 396px;
        height: 131px;
    }

    .textarea {
        max-width: 354px;
        width: 354px;
        height: 52px;
        padding: 18px 21px;
    }

    .assigned-container {
        width: 396px;
        height: 75px;
    }

    .foul-input {
        width: 396px;
        height: 48px;
    }

    .half-input {
        width: 340px;
        height: 16px;
    }

    .date-input-container {
        width: 396px;
        height: 83px;
    }

    .prio-container {
        width: 396px;
        height: 88px;
    }

    .prio-btn-container {
        width: 396px;
        height: 61px;
    }

    .prio-btn-position {
        width: 396px;
        height: 61px;
    }

    .prio-btn {
        width: 121.33px;
        height: 41px;
    }

    .selection {
        width: 396px;
    }

    .vertical-vector {
        display: none;
    }

    .three-input-prio-container {
        position: initial;
    }

    .btn-required-text {
        position: fixed;
        bottom: 0;
        top: initial;
        width: 396px;
        height: 56px;
        padding: 16px;
        background-color: #F6F7F8;
        margin-bottom: 110px;
    }

    .bottom-required {
        margin: 0;
    }

    .two-buttons-position {
        margin: 0;
        width: 183px;
        height: 56px;
    }

    .create-btn {
        width: 183px;
        height: 56px;
    }

    .cancel-btn {
        display: none;
    }

    .close-btn {
        display: none
    }

    .subtask-display {
        padding: 10px 0;
    }

    .add-task-list {
        padding: 0 0 0 10px;
    }

    .dropdown-list {
        width: 398px;
        top: 387px;
        height: 160px;
        left: 16px;
    }

    .assigned-persons {
        width: 398px;
        height: 50px;
        top: 400px;
        left: 16px;
    }
    .select-wrapper::after {
        right: 16px;
    }
}

@media(max-width:850px) {
    .add-task-main-position {
        left: 0;
    }
}

@media(max-width:500px) {
    .add-task-main-position {
        left: 0;
        width: 310px;
        border-radius: 0;
    }

    .add-task-card {
        width: 310px;
        gap: 8px;
    }

    .title-positioning {
        width: 280px;
        padding: 10px;
        height: 100px;
    }

    h1 {
        font-size: 37px;
        line-height: 46.4px;
    }

    .three-input-container {
        width: 300px;
        gap: 6px;
    }

    .input-title-container {
        width: 270px;
        height: 83px;
    }

    .simple-input {
        width: 214px;
        height: 20px;
        padding: 10px 20px;
    }

    .description-container {
        width: 270px;
        height: 131px;
    }

    .textarea {
        max-width: 214px;
        width: 228px;
        height: 52px;
        padding: 16px 20px;
    }

    .assigned-container {
        width: 270px;
        height: 75px;
    }

    .foul-input {
        width: 254px;
        height: 48px;
    }

    .half-input {
        width: 190px;
        height: 16px;
    }

    .date-input-container {
        width: 270px;
        height: 83px;
    }

    .prio-container {
        width: 270px;
        height: 88px;
    }

    .prio-btn-container {
        width: 270px;
        height: 61px;
    }

    .prio-btn-position {
        width: 270px;
        height: 61px;
    }

    .prio-btn {
        width: 80px;
        height: 51px;
        flex-direction: column;
    }

    .selection {
        width: 256px;
    }

    .vertical-vector {
        display: none;
    }

    .three-input-prio-container {
        width: 300px;
    }

    .subtask-input {
        width: 150px;
    }

    .btn-required-text {
        width: 290px;
        padding: 16px 0;
        height: 100px;
        flex-direction: column;
    }

    .two-buttons-position {
        margin: 0;
        width: 183px;
        height: 56px;
    }

    .create-btn {
        width: 183px;
        height: 56px;
    }

    .dropdown-list {
        width: 256px;
        top: 500px;
        height: 100px;
        left: 20px;
    }

    .assigned-persons {
        width: 256px;
        top: 510px;
        left: 20px;
    }

    .assigned-emblem {
        width: 32px;
        height: 32px;
    }
}