@media(max-width: 1280px) {
    .btn-required-text {
        width: 1050px;
    }

    .vertical-vector {
        left: 521.25px;
    }

    .assigned-persons {
        left: 38px;
    }

    .dropdown-list {
        left: 38px;
    }

    .title-positioning {
        left: 38px;
    }

    .three-input-container {
        left: 38px;
    }

    .three-input-prio-container {
        left: 574.25px;
    }
}

@media(max-width: 1250px) {
    .btn-required-text {
        width: 1000px;
    }

    .vertical-vector {
        left: 470.25px;
    }

    .assigned-persons {
        top: 555px;
        left: 15px;
    }

    .dropdown-list {
        top: 545px;
        left: 15px;
    }

    .title-positioning {
        left: 15px;
    }

    .three-input-container {
        left: 15px;
        margin-bottom: 40px;
    }

    .three-input-prio-container {
        left: 491.25px;
    }

}

@media(max-width: 1160px) {
    .bodyContainer {
        overflow-y: scroll;
    }

    .add-task-main-position{
        width: 100%;
    }

    .add-task-card {
        width: auto;
        height: 1260px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
        margin-left: 100px;
    }

    .title-positioning{
        position: initial;
    }

    .three-input-container{
        position: initial;
    }

    .three-input-prio-container{
        position: initial;
        margin-bottom: 120px;
    }

    .btn-required-text {
        width: 100%;
    }

    .vertical-vector {
        display: none
    }

    .btn-required-text {
        position: initial;
        height: 100px;
        width: 700px;
        bottom: 0;
    }

    .bottom-required{
        margin: 0;
    }

    .assigned-persons {
        top: 475px;
        left: 2px;
    }

    .dropdown-list {
        top: 465px;
        left: 0px;
        width: 442px;
    }
}

@media(max-width:1050px) {
    /* .add-task-main-position {
        left: 0;
    } */

    .btn-required-text{
        position: absolute;
        bottom: 110px;
        top: initial;
    }
}

@media(max-width: 920px) {
    .add-task-main-position {
        left: 130px;
    }
}

@media(max-width:745px){
    .bottom-required{
        display: none;
    }

    .bottom-required-text{
        width: 100%;
    }

    .add-task-main-position {
        left: 90px;
    }
}

@media(max-width: 700px) {
    .add-task-main-position {
        left: 40px;
    }
}

@media(max-width:600px) {
    .bottom-required{
        display: block;
    }

    .add-task-main-position {
        position: absolute;
        width: 428px;
        height: 1400px;
        border-radius: 0;
        left: 64px;
        bottom: 0;
    }

    .add-task-card {
        width: 428px;
        height: 1125px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 0;
    }

    .title-positioning {
        width: 396px;
        height: 112px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }

    h1 {
        font-size: 47px;
        line-height: 56.4px;
    }

    .medium-font {
        font-size: 16px;
        line-height: 19.2px;
    }

    .three-input-container {
        position: initial;
        width: 396px;
        gap: 8px;
    }

    .input-title-container {
        width: 396px;
        height: 83px;
    }

    .simple-input {
        width: 354px;
        height: 26px;
        padding: 10px 21px;
    }

    .description-container {
        width: 396px;
        height: 131px;
    }

    .textarea {
        max-width: 354px;
        width: 354px;
        height: 52px;
        padding: 18px 21px;
    }

    .assigned-container {
        width: 396px;
        height: 75px;
    }

    .foul-input {
        width: 396px;
        height: 48px;
    }

    .half-input {
        width: 340px;
        height: 16px;
    }

    .date-input-container {
        width: 396px;
        height: 83px;
    }

    .prio-container {
        width: 396px;
        height: 88px;
    }

    .prio-btn-container {
        width: 396px;
        height: 61px;
    }

    .prio-btn-position {
        width: 396px;
        height: 61px;
    }

    .prio-btn {
        width: 121.33px;
        height: 41px;
    }

    .selection {
        width: 396px;
    }

    .three-input-prio-container {
        position: initial;
    }

    .btn-required-text {
        position: fixed;
        bottom: 0;
        top: initial;
        width: 396px;
        height: 56px;
        padding: 16px;
        background-color: #F6F7F8;
        margin-bottom: 110px;
    }

    .bottom-required {
        margin: 0;
    }

    .two-buttons-position {
        margin: 0;
        width: 183px;
        height: 56px;
    }

    .create-btn {
        width: 183px;
        height: 56px;
    }

    .cancel-btn {
        display: none;
    }

    .close-btn {
        display: none
    }

    .subtask-display {
        width: 398px;
    }

    .add-task-list {
        padding: 0 0 0 10px;
    }

    .dropdown-list {
        width: 398px;
        top: 500px;
        height: 160px;
        left: 16px;
    }

    .assigned-persons {
        width: 398px;
        height: 50px;
        top: 510px;
        left: 16px;
    }

    .select-wrapper::after {
        right: 16px;
    }

    .edit-subtask-input{
        width: 140px;
    }
}

@media(max-width:500px) {
    .add-task-main-position {
        left: 0px;
        border-radius: 0;
    }
}

@media(max-width:440px) {
    .add-task-main-position {
        left: 15px;
        width: 290px;
        border-radius: 0;
    }

    .add-task-card {
        width: 290px;
        gap: 8px;
        left: 50px;
        align-items: flex-start;
    }

    .title-positioning {
        width: 280px;
        padding: 10px;
        height: 100px;
    }

    h1 {
        font-size: 37px;
        line-height: 46.4px;
    }

    .three-input-container {
        width: 300px;
        gap: 6px;
        align-items: flex-start;
    }

    .input-title-container {
        width: 275px;
        height: 83px;
    }

    .simple-input {
        width: 229px;
        height: 26px;
        padding: 10px 20px;
    }

    .description-container {
        width: 290px;
        height: 131px;
    }

    .textarea {
        max-width: 229px;
        width: 229px;
        height: 52px;
        padding: 16px 20px;
    }

    .assigned-container {
        width: 270px;
        height: 75px;
    }

    .foul-input {
        width: 269px;
        height: 48px;
    }

    .three-input-prio-container{
        align-items: flex-start;
    }

    .half-input {
        width: 190px;
        height: 16px;
    }

    .date-input-container {
        width: 270px;
        height: 83px;
    }

    .prio-container {
        width: 270px;
        height: 88px;
    }

    .prio-btn-container {
        width: 270px;
        height: 61px;
    }

    .prio-btn-position {
        width: 270px;
        height: 61px;
    }

    .prio-btn {
        width: 80px;
        height: 51px;
        flex-direction: column;
    }

    .selection {
        width: 271px;
    }

    .three-input-prio-container {
        width: 300px;
    }

    .subtask-input {
        width: 150px;
    }

    .btn-required-text {
        width: 290px;
        padding: 16px 0;
        height: 100px;
        flex-direction: column;
    }

    .two-buttons-position {
        margin: 0;
        width: 183px;
        height: 56px;
    }

    .create-btn {
        width: 183px;
        height: 56px;
    }

    .dropdown-list {
        width: 256px;
        top: 500px;
        height: 100px;
        left: 20px;
    }

    .assigned-persons {
        width: 256px;
        top: 510px;
        left: 20px;
    }

    .assigned-emblem {
        width: 32px;
        height: 32px;
    }

    .subtask-display {
        width: 256px;
    }

    .persons-assignemend{
        width: initial;
    }

    .name-container{
        width: initial;
    }
}

@media(max-width : 380px){
    .add-task-card{
        left: 15px;
    }
}

@media(max-width : 350px){
    .add-task-card{
        left: 0;
    }
}