* {
    margin: 0;
}

.d-flex {
    display:flex;
}

.d-none {
    display:none;
}

.technicalTask {
    background-color: #1FD7C1;
}

.userStory {
    background-color: #0038FF;
}

.marginRight {
    margin-right: 24px;
}

.boardBodyContainer {
    background-color: #F6F7F8;
    position: relative;
}

.headlineInputButtonContainer h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
    margin-left: 296px;
}

.headlineInputButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-top: 192px;
}

.inputButtonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    background-color: #2a3647;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    border: none;
    font-family: Inter;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    height: 48px;
}

.btn:hover {
    background-color: rgb(64, 171, 226);
    cursor: pointer;
}

.btn img {
    margin-left: 8px;
}

.inputBoard {
    height: 48px;
    border: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-inline: 16px;
}

input[type=text]:focus {
    outline: none;
}

.inputContainer {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}

.inputLineContainer {
    background-color: white;
    height: 50px;
    display:flex;
    align-items: center;
}

.inputContainer:focus-within {
    border: 1px solid #94D5F0;
    border-radius: 10px;
}

.inputLine {
    height: 32px;
    width: 1px;
    background-color: #D1D1D1;
}

.inputSearchImageContainer {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

.inputSearchImageContainer img {
    cursor:default;
}

.font-fourhundrdred-twentyfour {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.progressBar {
    display: flex;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    color: #42526E;
    margin-top: 40px;
    margin-left: 296px;
}

.backgroundImage {
    background: url(/img/board/plus_button.png) no-repeat scroll;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.backgroundImage:hover {
    background: url(/img/board/plus_button_blue.svg) no-repeat scroll;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.column1Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.progressbarColumnHeadline {
    width: 252px;
    display: flex;
    justify-content: space-between;
}

.taskColumn {
    width: 252px;
    background-color: white;
    border-radius: 16px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    box-shadow: 0px 0px 5px 0px #00000011;
    cursor: pointer;
}

.taskColumnContainer {
    width: 220px;
}

.Technical {
    background-color:#1FD7C1;
}

.Story {
    background-color: #0038FF;
}

.taskType {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 27px;
    padding: 0 8px 0 8px;
    border-radius: 8px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

.taskTitel {
    margin-top: 24px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    color: #2A3647;
    line-height: 19.2px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 38.4px;
}

.taskDescription {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 38.4px;
    line-height: 19.2px;
    margin-top: 8px;
}

.taskSubtaskBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.taskSubtaskBar {
    background-color: #F4F4F4;
    width: 60%;
    height: 8px;
    border-radius: 8px;
}

.taskSubtaskBarFilledBar {
    background-color: #4589FF;
    height: 8px;
    border-radius: 8px;
}

.taskSubtaskBarContainer span {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.taskContactsPrioContainer {
    margin-top: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskMoreContactsAndTaskPrioContainer {
    display: flex;
    align-items: center;
}

.taskContactsContainer {
    display: flex;
    align-items: center;
    max-width: 100%;
    
}

.taskContact {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-left: -5px;
}

.taskContactsContainer .taskContact:nth-child(n+7) {
    display: none;
}

.taskMoreContacts {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    border-radius: 50%;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-popup{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    animation: fly-in 0.1s forwards;
  }

.userStoryWindow {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    z-index: 998;
}

.flying-element {
    position: absolute;
    animation: fly-in 0.1s forwards; /* Animation anwenden */
}

@keyframes fly-in {
    from {
        right: -3000px; /* Startposition außerhalb des Bildschirms */
    }
    to {
        right: 0; /* Endposition innerhalb des Bildschirms */

    }
}
@keyframes fly-out {
    from {
        right: 0px; /* Startposition innerhalb des Bildschirms */

    }
    to {
        right: -3000px; /* Endposition außerhalb des Bildschirms */
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fade-in 0.25s forwards;
    z-index: 99;
}

@keyframes fade-in {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@keyframes fade-out {
    from {
        background-color: rgba(0, 0, 0, 0.5);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

.task {
    transition: opacity 0.01s ease-in-out;
}

.dragging {
    opacity: 0;
}

.dragPosition {
    opacity: 100%;
    width: 100%;
    margin-top: 8px;
    min-height: 50px;
    height: 100%;
    border-radius: 16px;
    border: 1px rgba(0, 0, 0, 0.281);
    border-style:dashed;
}

.dragAreaHighlight {
    background-color: #e9e9e9;
}

.taskTitle {
    margin-top: 16px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    color: #2A3647;
    line-height: 19.2px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 38.4px;
}

.no-task-message-empty {
    font-size: 12px;
    color: rgb(248, 53, 53);
    display: none; 
    background-color: lightgray; 
    border: 1px dashed rgb(134, 134, 134); 
    border-radius: 12px;
    padding: 10px; 
    margin-top: 10px; 
    width: 229px; 
    text-align: center; 
    display: flex;             
    justify-content: center;   
    align-items: center;       
}

.no-task-message-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.boardAddTaskMediumImage {
    cursor:pointer;
    display:none;
    width: 45px;
    height: 45px;
}

.no-task-message {
    font-size: 12px;
    color: #A8A8A8;
    display: none; 
    background-color: lightgray; 
    border: 1px dashed rgb(134, 134, 134); 
    border-radius: 12px;
    padding: 10px; 
    margin-top: 10px; 
    width: 100%; 
    text-align: center; 
    display: flex;             
    justify-content: center;   
    align-items: center;       
}
