.backBtn {
    display: none;
}

@media(max-width: 1050px) {
    .display-flex {
        margin-left: 0;
        flex-direction: column;
    }

    .contact-container {
        box-shadow: none;
        width: 100%;
    }

    .contact-container.show-right-content {
        display: none;
    }

    .right-content.show {
        display: block;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: 10;
    }

    .contact-detail-container {
        overflow: visible;
    }

    .backBtn {
        display: block;
    }

    .right-content {
        display: none;
    }

    .more-vert-button {
        display: flex; 
    }

    .btn-add-new {
        display: flex;
        position: fixed;
        right: 20px;
        bottom: 130px;
        cursor: pointer;
    }

    .new-contact {
        display: none;
    }

    .contact-list-items {
        padding-top: 48px;
        padding-bottom: 100px;
    }
}

@media(max-width: 1200px) {
    .contacts-headline {
        padding-left: 25px;
    }

    .headline-close h1 {
        font-size: 35px ;
    }

    h2 {
        font-size: 15px ;
    }

    .parting-line {
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .name-contact {
        font-size: 32px;
    }

    .headline-contact {
        gap: 12px;
    }

    .emblem-info {
        width: 80px;
        height: 80px;
        font-size: 48px;
        margin-left: 0;
    }

    .contacts-headline {
        padding-left: 8px;
    }

    @keyframes fly-in {
        from {
           top: 3000px;
        }
        to {
            top: 0;
        }
    }
    
    @keyframes fly-out {
        from {
            top: 0px; 
        }
        to {
            top: 3000px; 
        }
    }
}

@media(max-width: 800px) {
    .contacts-headline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 48px 16px 30px 16px;
        height: 75px;
        gap: 16px;
        padding-top: 28px;
    }

    .headline-close h1 {
        font-size: 47px;
    }

    .parting-line {
        display: flex;
        width: 90px;
        border: 1.5px solid #29ABE2;
        border-radius: 4px;
    }

    .emblem-info {
        width: 80px;
        height: 80px;
        font-size: 36px;
        font-weight: 400;
    }

    .name-contact {
        font-size: clamp(26px, 7vw, 36px);
        font-weight: 700;
    }

    .contact-a-name {
        display: none;
    }

    .backBtn {
        display: block;
    }
}

@media(max-width: 430px) {
    .emblem-info {
        width: 70px;
        height: 70px;
        font-size: 36px;
        font-weight: 400;
    }

    .headline-contact {
        gap: 10px;
    }

    #contactDetail {
        padding: 8px;
        width: 100%;
    }

    /* .right-content.show {
        padding-bottom: 100px;
    } */

    header {
        z-index: 20;
    }
}

@media(max-width: 420px) {
    .new-contact {
        width: 290px;
        margin: 22px 52px 21px 40px;
    }
}

@media(max-width:380px) {
    header {
        z-index: 100 !important;
    }

    .contacts-headline {
        margin: 0 16px 0 16px;
    }

    .headline-contact {
        height: 66px;
    }

    .emblem-info {
        width: 50px;
        height: 50px;
    }
}

@media(max-width: 350px) {
    .new-contact {
        width: 256px;
        margin: 22px 52px 21px 40px;
    }
}