* {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.mainContainer {
    margin-top: 192px;
    margin-left: 296px;
    margin-right: 64px;
}

.HeadlineAndArrowLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.HeadlineAndArrowLeft h1 {
    font-weight: 700;
    font-size: 61px;
}

.HeadlineAndArrowLeft img {
    width: 32px;
    height: 32px;
}

.HeadlineAndArrowLeft img:hover {
    border-radius: 50%;
    background-color: #f1f1f1;
    scale: 1.1;
    cursor: pointer;
}

.legalNoticeTextContainer,
.legalNoticeImprintContainer {
    margin-top: 30px;
    padding-bottom: 32px;
}

.legalNoticeImprintContainer h2 {
    font-size: 27px;
    font-weight: 700;
}

.blueText {
    color: #5CBEE7;
    text-decoration: none;
}

h3 {
    margin-top: 16px;
}

b {
    color: #29abe2;
    font-weight: 500;
}

.no-underline {
    text-decoration: none;
}