* {
    margin: 0;
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
}

h2 {
    font-family: Inter;
    font-size: 27px;
    font-weight: 700;
    margin: 16px 0 16px 0;
}

h3 {
    margin: 16px 0 16px 0;
}

a {
    color: #5CBEE7;
    text-decoration: none;
}

body {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    background-color: #F6F7F8;
    overflow-x: hidden;
}

.privacyMainContainer {
    margin-top: 192px;
    margin-left: 296px;
    margin-right: 64px;
    padding-bottom: 32px;
}

.HeadlineAndArrowLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}


.HeadlineAndArrowLeft img {
    width: 32px;
    height: 32px;
}

.HeadlineAndArrowLeft img:hover {
    border-radius: 50%;
    background-color: #f1f1f1;
    scale: 1.1;
    cursor: pointer;
}

b {
    color: #29abe2;
    font-weight: 500;
}