@media (max-width: 580px) {
    .editDropDownList {
        width: 402px;
    }
    .userStoryContainer, .userStoryEditContainer {
        width: 460px;
    }

    .userStoryContainerInside {
        width: 400px;
    }

    .userStoryDeleteAndEditContainer {
        width: 400px;
    }

    .userStoryCloseButtonContainer {
        padding-right: 48px;
    }

    .userStoryEditContainerInside{
        width: 400px;
    }

    .editTitleInputContainer input, 
    .editDescriptionTextAreaContainer,
    .editDueDateInputContainer input,
    .userStoryAssignedToInputAndImageContainer  {
        width: 400px;
    }

    .subtaskDisplay {
        width: 400px !important;
    }

    .userStoryAssignedToDropdownMenuImageContainer:hover {
        background-color: inherit; 
    }
    
}

@media (max-width: 470px) {
    .editDropDownList {
        width: 325px;
    }
    .userStoryContainer, .userStoryEditContainer {
        width: 400px;
        height: 800px;
        overflow-x: hidden;
    }

    .userStoryHeadline {
        font-size: 52px;
    }

    .userStoryContainerInside {
        width: 324px;
    }

    .userStoryDeleteAndEditContainer {
        width: 324px;
    }

    /* .userStoryCloseButtonContainer img {
        margin: 45px;
    } */

    .userStoryHeadlineAndCloseButtonContainer {
        width: 380px;
    }

    .userStoryEditContainerInside{
        width: 355px;
    }

    .editTitleInputContainer input {
        width: 340px;
    }
    
    .editDescriptionTextAreaContainer,
    .userStoryAssignedToInputAndImageContainer   {
        width: 350px;
    }

    .editDueDateInputContainer input {
        width: 330px;
    }

    .subtaskDisplay {
        width: 377px !important;
    }
}

@media (max-width: 415px) {
    .editDropDownList {
        width: 320px;
    }
    .userStoryContainer, .userStoryEditContainer {
        width: 360px;
        height: 600px;
        overflow-x: hidden;
    }

    .userStoryHeadline {
        font-size: 46px;
    }

    .userStoryContainerInside {
        width: 250px;
    }

    .userStoryDeleteAndEditContainer {
        width: 270px;
    }

     .userStoryCloseButtonContainer {
        padding-right: 120px;
    } 

    .userStoryHeadlineAndCloseButtonContainer {
        width: 380px;
    }

    .userStorySubtaskTitelContainer {
        margin-left: 24px;
        padding: 4px 8px 12px 0;
    }

    .userStoryEditContainerInside{
        width: 310px;
    }


    .editTitleInputContainer input {
        width: 305px;
    }
    
    .editDescriptionTextAreaContainer {
        width: 315px;
    }

    .editDueDateInputContainer input {
        width: 300px;
    }
    
    
    .userStoryAssignedToInputAndImageContainer   {
        width: 315px;
    }

    .userStoryAssignedToInputAndImageContainer input {
        font-size: 14px;
    }

    .subtaskDisplay {
        width: 332px !important;
    }

    .editPriorityButtonContainer {
        font-size: 12px;
    }
}