.sidebar-header {
    display: block;
}

.mobile-header,
.mobile-nav,
.seperator-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .greet-text {
        font-size: 26px;
        white-space: nowrap;
    }

    .greeting-container {
        padding-right: 32px;
    }
}

@media (max-width: 1050px) {
    .sidebar-header {
        display: none;
    }

    .mobile-header,
    .mobile-nav {
        display: flex;
    }

    .main-container-summary {
        margin-left: 0;
        margin-top: 128px;
        justify-content: center;
    }

    .card-container-summary {
        margin-right: 15px;
    }

    nav {
        margin: 0 0 0 0 !important;
    }

    header {
        position: fixed;
    }
}

@media (max-width: 900px) {
    .main-container-summary {
        /* margin-left: 200px; */
    }
}

@media (max-width: 800px) {
    .main-container-summary {
        /* margin-left: 150px; */
    }

    .title {
        font-size: 32px !important;
    }

    .summary-card {
        width: 150px;
        height: 150px;
    }

    .summary-card-middle {
        width: 305px;
        height: 140px;

    }

    .summary-card-bottom {
        width: 80px !important;
        height: 90px !important;
        margin: 2px;
    }

    .card-bottom-container-summary {
        gap: 0px;
    }

    .number-container {
        font-size: 42px !important;
    }

    .text-container {
        font-size: 16px;
    }

    .card-container-summary {
        padding-left: 16px;
    }
    .date-text {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .card-container-summary {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .main-container-summary {
        /* margin-left: 90px; */
    }

    .seperator-mobile {
        display: block;
    }

    .seperator {
        display: none;
    }

    .summary-title-container {
        align-items: normal;
        flex-direction: column;
        gap: 5px;
    }

    .headline-summary {
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        margin-left: 32px;
    }
}

@media (max-width: 500px) {
    .main-container-summary {
        margin-left: 50px;
    }

    .text-container {
        font-size: 12px;
    }

    .icon-mobile {
        width: 24px;
        height: 24px;
    }

    .nav-mobile-a {
        font-size: 14px;
    }

    .summary-card:hover,
    .summary-card-middle:hover,
    .summary-card-bottom:hover {
        scale: 1;
        background-color: initial;
        color: initial;
    }

    .summary-card:hover .icons-container-summary,
    .summary-card-middle:hover .icons-container-summary,
    .summary-card-bottom:hover .icons-container-summary {
        background-color: initial;
    }

}

@media (max-width: 450px) {
    .icon-mobile {
        width: 24px;
        height: 24px;
    }

    .nav-mobile-a {
        font-size: 12px;
    }

    .main-container-summary {
        /* margin-left: 10px; */
    }
}

@media (max-width: 400px) {
    .icon-mobile {
        width: 20px;
        height: 20px;
    }

    .nav-mobile-a {
        font-size: 10px;
    }

    #fullscreenGreetText {
        font-size: 40px;
        padding-left: 8px;
    }

    #fullscreenGreetUserName {
        font-size: 44px;
        color: #29ABE2;
        font-weight: 700;
        padding-right: 8px;
    }
}

@media (max-width: 340px) {
    #fullscreenGreetText {
        font-size: 36px;
        padding-left: 8px;
    }

    #fullscreenGreetUserName {
        font-size: 40px;
        color: #29ABE2;
        font-weight: 700;
        padding-right: 8px;
    }
    .headline-summary {
        
        margin-left: 16px;
    }
}

@media (max-width: 320px) {
    .summary-card {
        width: 140px;
        height: 150px;
    }

    .summary-card-middle {
        width: 295px;
        height: 150px;
        padding-left: 4px;
        padding-right: 4px;
    }

    .summary-card-bottom {
        width: 100px;
        height: 120px;
    }
}