* {
    margin: 0;
    font-family: 'Inter';
}

body {
    background-color: #f6f7f8;
    box-sizing: border-box;
}

h1 {
    font-size: 61px;
    font-weight: bold;
}

.main-container-summary {
    display: flex;
    margin-left: 296px;
    margin-top: 192px;
    height: calc(100vh - 230px);
}

.main-container-summary .card-container-summary, .main-container-summary .greeting-container {
    transition: opacity 1.5s ease-in-out;
}

.card-container-summary {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 30px;
    overflow-y: auto;
    padding-left: 16px;
}

.headline-summary {
    font-size: large;
}

.summary-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 50px;
}

.title-contact {
    font-size: 61px;
    font-weight: 700;
}

.seperator {
    height: 60px;
}

.card-top-container-summary {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.summary-card {
    width: 239px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #ffffff;
    text-decoration: none;
    color: black;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icons-container-summary {
    background-color: #2a3647;
    border-radius: 50%;
    padding: 5px;
    margin-right: 6px;
    height: 69px;
    width: 69px;
    text-align: center;
    align-content: center;
}

.summary-icons {
    height: 35px;
    width: 35px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    
}

.number-container {
    font-size: 64px;
    font-weight: 600;
}

.card-middle-container-summary {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.summary-card-middle {
    width: 490px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.card-icons-middle {
    background-color: #ff3d00;
    border-radius: 50%;
    padding: 5px;
    margin-right: 6px;
    height: 69px;
    width: 69px;
    text-align: center;
    align-content: center;
}

.date-text {
    font-weight: 700;
    font-size: 21px;
}

.seperator-middle-card {
    width: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.text-container-middle-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-bottom-container-summary {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    /* justify-content: center; */
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.summary-card-bottom {
    width: 125px;
    height: 125px;
    padding: 10px;
    border-radius: 30px;
    background-color: #ffffff;
    text-decoration: none;
    color: black;
}

.summary-card:hover {
    scale: 1.1;
    background-color: #2a3647;
    color: #ffffff;
}

.summary-card-bottom:hover {
    scale: 1.1;
    background-color: #2a3647;
    color: #ffffff;
}

.summary-card-middle:hover {
    scale: 1.1;
    background-color: #2a3647;
    color: #ffffff;
}

.summary-card:hover .icons-container-summary {
    background-color: #ffffff; 
}

.summary-card:hover .summary-icons {
    filter: invert(1) grayscale(1) brightness(0.8); 
}

.greeting-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    transition: opacity 1.5s ease-in-out;
    padding-top: 128px;
}

.greet-text {
    font-size: 47px;
    font-weight: 500;
}

#fullscreenGreeting {
    font-size: 32px;
    font-weight: 500;
}

.fullscreen-greeting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
    align-items: center;
    justify-content: center;
    background-color: #f6f7f8; 
    color: black; 
    font-size: 2em;
    z-index: 1000;
    opacity: 0;
    overflow: hidden; 
}

@keyframes opacity {
    0% {
        opacity: 1;
        display: flex;
    }
    100% {
        opacity: 0;
    }
}

.animationSummary {
    animation: opacity 1s ease-in-out forwards;
}

@keyframes shine {
    0% {
        opacity: 0;
        display: flex;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}

.animationSummaryShine {
    transition: opacity 1s;
    animation: shine 1s ease-in-out forwards;
    display: flex !important; 
}

@media screen and (max-width: 1050px) {
    .greeting-container {
        display: none;
    }
}
