.overlay-menu-responsive {
    position: absolute;
    width: 150px;
    border-radius: 20px 0 20px 20px;
    padding: 5px;
    background-color: rgba(42, 54, 71, 1);
    right: -150px;
    top: 90px;
    flex-direction: column;
    gap: 8px;
    /* transform: translateX(100%); */
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.hidden-responsive {
    right: 6px;
    /* transform: translateX(0); */
}

.a-link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: rgba(205, 205, 205, 1);
    line-height: 19.2px;
    text-decoration: none;
}

.a-menu-responsive {
    width: 140px;
    height: 46px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    cursor: pointer;
    
}

.a-menu-responsive:hover {
    background-color: #2A3D59;
    border-radius: 12px;
}

nav a.active {
    background-color: rgb(9,25,49); 
    color: white;
}

* {
    margin: 0px;
}

header {
    z-index: 1;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header-logo {
    display: block;
    object-fit: contain;
    width: 32px;
    height: 39px;
    margin-left: 32px;
    gap: 10px;
}

.headerHelpAndLogoContainer {
    display: flex;
    align-items: center;
}

.headerHelpAndLogoContainer img {
    width: 20px;
    height: 20px;
    margin-right: 24px;
}

.headerHelpAndLogoContainer img:hover {
    cursor: pointer;
    scale: 1.15;
}

.headerHelpAndLogoContainer {
    margin-right: 40px;
}

.headerHelpAndLogoContainer p {
    border-radius: 50%;
    border: 3px solid #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #29ABE2;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
}

.headerHelpAndLogoContainer p:hover {
    cursor: pointer;
    background-color: #E1E5EC;
}

@media(min-width: 1050px) {
    #help-drop-down {
        display: none;
    }
}

@media(max-width: 1050px) {
    #help {
        display: none;
    }

    #help-drop-down {
        display: flex;
    }
}


