<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Navbar Template</title>
    <link rel="stylesheet" href="./css/templates/mobileNavbar.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <!-- <link rel="stylesheet" href="./css//summary/summary_mediaquerry.css"> -->
</head>
<body>
    <nav id="mobileNav" class="mobile-nav">
        <div class="menu-mobile">
            <a class="nav-mobile-a no-hover" href="summary.html">
                <img class="icon-mobile" src="./img/mobile/summarymobile.png" alt="">
                Summary
            </a>
            <a class="nav-mobile-a no-hover" href="board.html">
                <img class="icon-mobile" src="./img/mobile/boardmobile.png" alt="">
                Board
            </a>
            <a class="nav-mobile-a no-hover" href="addTask.html">
                <img class="icon-mobile" src="./img/mobile/addtaskmobile.png" alt="">
                Add Task
            </a>
            <a class="nav-mobile-a no-hover" href="contacts.html">
                <img class="icon-mobile" src="./img/mobile/contactmobile.png" alt="">
                Contacts
            </a>
        </div>
    </nav>
</body>
</html>
