<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Mobile Template</title>
    <link rel="icon" type="image/x-icon" href="/img/Join_Logo.png">
    <link rel="stylesheet" href="./css/templates/mobileHeader.css">
    <link rel="stylesheet" href="./css/fonts.css">
</head>

<body>
    <header>
        <div>
            <img class="header-logo" src="./img/logo_dark.png" alt="Join Logo">
        </div>

        <div onclick="toggleMenu()" class="headerHelpAndLogoContainer">
            <a href="../help.html">
                <img src="./img/help.png" alt="Help">
            </a>
            <p>SM</p>

            <div id="mobileOverlayHeader" class="overlay-menu show-menu hidden">
                <a class="a-link" href="legalNotice.html">
                    <div class="a-menu">Legal Notice</div>
                </a>
                <a class="a-link" href="privacyPolicy.html">
                    <div class="a-menu">Privacy Policy</div>
                </a>
                <div class="a-menu" onclick="logOut()">
                    <span class="a-link">Log Out</span>
                </div>
            </div>

        </div>

    </header>
</body>

</html>