<div><section class="sidebar-container">
    <img class="sidebar-logo" src="./img/Join_Logo.png" alt="Join Logo">
    <nav>
        <a href="/summary.html"><img src="./img/Summary.png" alt="Summary"></a>
        <a href="/addtask.html"><img src="./img/Add Task.png" alt="Add Task"></a>
        <a href="/board.html"><img src="./img/Board.png" alt="Board"></a>
        <a href="/contacts.html"><img src="./img/Contacts.png" alt="Contact"></a>
    </nav>
    <div class="nav-bottom">
        <a href="/privacyPolicy.html">Privacy Policy</a>
        <a href="/legalNotice.html">Legal Notice</a>
    </div>
</section></div>