<div><nav class="mobile-nav">
    <div class="menu-mobile">
        <a class="nav-mobile-a" href="summary.html">
            <img class="icon-mobile" src="./img/mobile/summarymobile.png" alt="">
            Summary
        </a>
        <a class="nav-mobile-a" href="summary.html">
            <img class="icon-mobile" src="./img/mobile/boardmobile.png" alt="">
            Board
        </a>
        <a class="nav-mobile-a" href="summary.html">
            <img class="icon-mobile" src="./img/mobile/addtaskmobile.png" alt="">
            Add Task
        </a>
        <a class="nav-mobile-a" href="summary.html">
            <img class="icon-mobile" src="./img/mobile/contactmobile.png" alt="">
            Contacts
        </a>
    </div>
</nav></div>