<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/img/Join_Logo.png">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/summary/sidebarHeaderTemplate.css">
    <script src="../JS/headerOverlay.js"></script>
    <script src="../JS/log_in/logOut.js"></script>
</head>

<body>
    <header>
        <div>
            <p class="headerHeadline">Kanban Project Management Tool</p>
        </div>
        <div class="headerHelpAndLogoContainer" id="topNav">
            <a href="./help.html">
                <img src="../img/help.png" alt="Help">
            </a>
            <p id="toggleDropDown">SM</p>
            <div id="overlayHeader" class="overlay-menu show-menu hidden">
                <a class="a-link" href="legalNotice.html">
                    <div class="a-menu">Legal Notice</div>
                </a>
                <a class="a-link" href="privacyPolicy.html">
                    <div class="a-menu">Privacy Policy</div>
                </a>
                <div class="a-menu" onclick="logOut()">
                    <span class="a-link">Log Out</span>
                </div>
            </div>
        </div>
    </header>
    <section class="sidebar-container">
        <img class="sidebar-logo" src="../img/Join_Logo.png" alt="Join Logo">
        <nav id="sideNav">
            <a href="/summary.html"><img src="/img/Summary.png" alt="Summary"></a>
            <a href="/addTask.html"><img src="/img/Add Task.png" alt="Add Task"></a>
            <a href="/board.html"><img src="/img/Board.png" alt="Board"></a>
            <a href="/contacts.html"><img src="/img/Contacts.png" alt="Contact"></a>
        </nav>
        <div class="nav-bottom">
            <a href="/privacyPolicy.html">Privacy Policy</a>
            <a href="/legalNotice.html">Legal Notice</a>
        </div>
    </section>
    <main>

    </main>
</body>

</html>