* {
    margin: 0;
    font-family: 'Inter';
}

.body {
    overflow-x: hidden;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 27px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.help {
    margin-left: 296px;
    margin-top: 192px;
    margin-right: 64px;
    padding-bottom: 32px;
}

.help-header h1 {
    border-right: none;
}

.help-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}

.help-header img {
    width: 32px;
    height: 32px;
}

.help-header img:hover {
    border-radius: 50%;
    background-color: #f1f1f1;
    scale: 1.1;
    cursor: pointer;
}

.numbers {
    font-size: 45px;
    font-weight: bold;
    align-items: start;
    display: flex;
}

.how-to {
    margin-top: 20px;
   /* align-items: center; */
    display: flex;
}

.how-to p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.how-to h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.bottom-h2 {
    font-size: 28px;
    padding-top: 24px;
}
b {
    color: #29abe2;
    font-weight: 500;
}

.text {
    padding-left: 35px;
}